body{

font-family: Arial;
text-align:center;
background:#f4f4f4;

}

.contenedor{

display:flex;
justify-content:center;
gap:40px;
align-items:flex-start;

}

.panel{

background:white;
padding:20px;
width:400px;
border-radius:10px;

}

.panelResultado{

background:white;
padding:20px;
width:400px;
border-radius:10px;
min-height:200px;

}

input{

padding:5px;
margin:5px;

}

button{

padding:10px;
background:#2c7be5;
color:white;
border:none;
border-radius:5px;
cursor:pointer;

}

button:hover{

background:#1a5fd0;

}

#grafica{

margin-top:40px;
width:90%;
max-width:900px;
height:500px;
margin-left:auto;
margin-right:auto;

}

.panelResultado{

background:white;
padding:20px;
width:400px;
border-radius:10px;
min-height:200px;

word-wrap: break-word;
overflow-wrap: break-word;

}

#resultado{

max-width:100%;
overflow-x:auto;

}


.panelSimbolos{

margin-top:10px;
display:grid;
grid-template-columns:repeat(5,1fr);
gap:5px;

}

.panelSimbolos button{

padding:5px;
font-size:14px;

}